
.DS_Store

QRPrint.userprefs

QRPrint/QRPrint.pidb

QRPrint/bin/Debug/MessagingToolkit.QRCode.dll

QRPrint/bin/Debug/QRPrint.exe

QRPrint/bin/Debug/QRPrint.exe.config

QRPrint/bin/Debug/ThermalDotNet.dll

QRPrint/bin/Debug/QRPrint.exe.mdb

QRPrint/bin/Release/MessagingToolkit.QRCode.dll

QRPrint/bin/Release/QRPrint.exe.config
